.containerStyle {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.inputStyle {
    margin-left: 10px;
    display: flex;
    flex: 1;
}
.actionStyle {
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
}