.modalStyle {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.headerStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title {
    margin-right: 10px;
    font-weight: bold;
}

.formStyle{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.radioStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.radioButtonStyle{
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}
.earningExpenseStyle{
    font-size: 1.2rem;
    font-weight: bold;
}