.containerStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.earningStyle {
    color: #16a085;
}

.expenseStyle {
    color: #c0392b;
}